@using Microsoft.AspNetCore.Components.Forms
@inherits InputBase<TValue>
@typeparam TValue

<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label mb-0">@Label</label>
    }
    <input type="@InputType" class="form-control @(isValid ? string.Empty : "is-invalid")" id="@Id" @bind="@CurrentValue" @attributes="AdditionalAttributes"
        placeholder="@Placeholder" />
    @if (!string.IsNullOrEmpty(TextMuted))
    {
        <small class="form-text text-muted">@TextMuted</small>
    }
    @if (ValidationFor != null)
    {
        <ValidationMessage For="@ValidationFor" />
    }
</div>